 /* html{
    background-color: yellow;

}
.ear{
    width: 100px;
    height: 200px;
    background-color: red;
    border-radius: 0 0 100px 100px;
    position: relative;
    left: 650px;
    top:150px;
    z-index: 2;



}
.nose{
     width: 200px;
     height: 100px;
     background-color: white;
     position: relative;
     left: 600px;
     bottom: 100px;
     z-index: 0 ;
     transform: skew(20deg);
     border-radius: 0 0 0 0;
    
} 

.body{
    width: 100px;
    height: 200px;
    background-color: greenyellow;
    transform: skew(20deg);
    transform: skewX();
    transform: skewY(20deg);
    position: relative;
    left: 100px;
} */



  .dog {  
    background-color: yellow;
    height: 1000px;

}

.ear {
    background-color: rgb(169, 0, 0);
    width: 100px;
    height: 200px;
    border-radius: 0 0 100px 100px;
    position: relative;
    top: 300px;
    left: 800px;
    z-index: 2;
}

.eye {
    height: 20px;
    width: 20px;
    border-radius: 100%;
    background-color: black;
    position: relative;
    left: 769px;
    top: 125px;
    z-index: 2;

}

.parallel {

    width: 200px;
    height: 100px;
    background-color: rgb(134, 19, 19);
    transform: skew(20deg);
    position: relative;
    left: 750px;
    top: 80px;
    z-index: 1;

}

.nose {
    background-color: white;
    height: 100px;
    width: 200px;
    position: relative;
    left: 650px;
    bottom: 20px;
    z-index: 0;
    border-radius: 0 0 0 100px;
}

.noseblack {
    height: 30px;
    width: 30px;
    border-radius: 100%;
    background-color: black;
    position: relative;
    left: 645px;
    bottom: 123px;
    z-index: 1;

}

.redtag {
    width: 100px;
    height: 50px;
    background-color: red;
    transform: skew(20deg);
    position: relative;
    left: 877px;
    bottom: 50px;
}

.body1 {
    background-color: rgb(68, 68, 68);
    height: 200px;
    width: 187px;
    position: relative;
    z-index: 1;
    left: 835px;
    bottom: 50px;
    transform: skewX(20deg);
}

.body2 {
    background-color: rgb(68, 68, 68);
    height: 220px;
    width: 187px;
    position: relative;
    z-index: 1;
    left: 912px;
    bottom: 50px;
    transform: skewX(20deg);
}

.body3 {
    background-color: rgb(68, 68, 68);

    width: 100px;
    height: 110px;

    position: relative;
    left: 811px;
    bottom: 440px;
}

.body4 {
    background-color: white;
    height: 300px;
    width: 200px;
    position: relative;
    bottom: 459px;
    left: 810px;
}

.leg {
    width: 0;
    height: 0;
    border-bottom: 80px solid white;
    border-right: 80px solid transparent;
    transform: rotateY(180deg);
    transform: rotateX();
    position: relative;
    bottom: 540px;
    left: 730px;

}

.tail {
    width: 0;
    height: 0;
    border: 200px solid transparent;
    border-right-width: 70px;
    border-right-color: rgb(68, 68, 68);
    position: relative;
    bottom: 940px;
    left: 866px;
}

.tailedge {
    width: 0;
    height: 0;
    border-bottom: 80px solid white;
    border-right: 30px solid transparent;
    transform: rotateY(180deg);
    transform: rotateX();
    position: relative;
    bottom: 1340px;
    left: 1106px;
}

.extra {
    width: 0;
    height: 0;
    border-bottom: 75px solid white;
    border-right: 32px solid transparent;
    transform: rotateY();
    transform: rotateX();
    position: relative;
    bottom: 1393px;
    left: 810px;
}